.content {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.content h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 5px;
}

.card {
  position: relative;
  width: 320px;
  height: 320px;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  margin-left: 20px;
}

.card-subtitles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
  position: absolute;
  top: 75%;
  left: 0;
  z-index: 10;
  margin-left: 20px;
  font-size: 18px;
}

.card-subtitles span span {
  margin-top: -15px;
  margin-left: 5px;
}

.card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-title {
  font-size: 20px;
}

fieldset {
  display: block;
  padding: 0 auto;
  padding: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
  width: 99.8%;
  margin-top: 50px;
}

legend {
  display: table;
  min-width: 0px;
  max-width: 70%;
  position: relative;
  margin: auto;
  padding: 0.375rem 3.94rem;
  color: inherit;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

.selects {
  margin: 50px 0;
}

.selects span {
  margin-right: 15px;
}
.selects-title {
  margin-right: 30px;
}
@media only screen and (max-width: 1400px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1150px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    margin-bottom: 60%;
    margin-left: 5%;
    gap: 10% 5px;
  }
  .card {
    width: 250px;
    height: 250px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-subtitles {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    margin-bottom: 50%;
    margin-left: 10%;
  }
  .card,
  .card-img {
    width: 230px;
    height: 220px;
  }

  .card-title {
    font-size: 15px;
  }
  .card-subtitles img {
    width: 15px;
    height: 15px;
  }
  .card-subtitles {
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 15px 5px;
    margin-left: 7%;
    margin-bottom: 20px;
  }
  .card,
  .card-img {
    width: 450px;
    height: 450px;
  }
  .card-title,
  .card-subtitles {
    font-size: 20px;
  }
}

.card-active:hover {
  cursor: url('../../images/cursorHover.png'), auto;
}
